@import url(//db.onlinewebfonts.com/c/4c29fcc86f895611c127f96e745d6dd4?family=Helvetica+Neue+LT+Std);

body {
    font-family: 'Playfair Display', serif;
    background-color:ivory;
}

    .container {
        width: 1000px;
        margin: 2 auto;
    }
    h1 {
        background:#548ea2 ;
        color: #eff0f1;
    }
h2.blue-background{
  background:#548ea2 ;
  color: #eff0f1;

}
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #548ea2;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
    
      li a:hover {
        background-color: #111;
      } 

      .flex-container {
        display: flex;
        justify-content: center;
      }
.row {
    display: flex;
}

.col{
  flex: 1;
}
.col-2{
  flex: 6;
}
.col-4 {
    flex: 2;
}
.carousel{

}